<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Demo</display-name>
	<distributable />
	<context-param>
		<param-name>ApplicationContextPath</param-name>
		<param-value>/demo</param-value>
	</context-param>
	<context-param>
		<param-name>config.DemoApplicationRoot.key</param-name>
		<param-value>DemoApplicationRoot</param-value>
	</context-param>
	<context-param>
		<param-name>config.Plugin.path</param-name>
		<param-value>classpath*:conf/plugin/*.xml</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:demoSpring-servlet.xml,
			classpath*:applicationContext.xml,
			classpath*:hibernate.cfg.xml,
			classpath*:urlMapping.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.demo.common.SystemInitialized</listener-class>
	</listener>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>hibernateSessionFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateSessionFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hibernateSessionFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>demoSpring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:demoSpring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>demoSpring</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DWR Servlet</display-name>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>config-demo</param-name>
			<param-value>/WEB-INF/dwr-demo.xml</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	 <servlet>
    <servlet-name>exchangeServlet</servlet-name>
    <servlet-class>org.demo.plugin.exchange.protocol.transport.http.ExchangeHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exchangeServlet</servlet-name>
    <url-pattern>/exchangeServlet</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/common/error.htm</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/common/error.htm</location>
	</error-page>
	<jsp-config>
		<taglib>
			<taglib-uri>http://dee.demo.com/taglib/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/dee.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
